<div class="container">
    <a class="btn btn-primary" routerLink="/product-create">Create New</a>
    <div class="row">
      <div class="col-3 d-flex justify-content-around"><strong>STT</strong></div>
      <div class="col-3 d-flex justify-content-around"><strong>Name</strong></div>
      <div class="col-3 d-flex justify-content-around">
        <strong>Price</strong>
      </div>
      <div class="col-3 d-flex justify-content-around">
        <strong>Action</strong>
      </div>
    </div>
    <div class="row" *ngFor="let product of products; index as i">
      <div class="col-3 d-flex justify-content-around">{{ i + 1 }}</div>
      <div class="col-3 d-flex justify-content-around">{{ product.name }}</div>
      <div class="col-3 d-flex justify-content-around">{{ product.price }}</div>
      <div class="col-3 d-flex justify-content-around">
        <a class="btn btn-primary" [routerLink]="'/product-detail/' + product.id"
          >View Detail</a
        >
        <!-- <button class="btn btn-danger" (click)="delete(product.id!)">Xóa</button> -->
        <a class="btn btn-primary" [routerLink]="'/product-update/' + product.id"
          >Update</a
        >
      </div>
    </div>
  </div>
  

